<h4 class="unselectable">Channels</h4>
<div class="add-channel">
  <svg width="50" height="50" class="d-inline-block" (click)="addChannel(addChannelName)">
    <defs>
      <filter id="channel-dropshadow">
        <feGaussianBlur in="SourceAlpha" stdDeviation="3"/>
        <feOffset dx="2" dy="2"/>
        <feComponentTransfer>
          <feFuncA type="linear" slope="0.3"/>
        </feComponentTransfer>
        <feBlend mode="normal" in="SourceGraphic" />
      </filter>
    </defs>
    <g>
      <circle r="20" cx="25" cy="25"></circle>
      <text x="25" y="25" class="no-pointer">+</text>
    </g>
  </svg>
  <div class="d-inline-block">
    <input class="form-control" type="text" [(ngModel)]="addChannelName" (keyup.enter)="addChannel(addChannelName)" placeholder="Enter a channel name..."/>
  </div>
</div>
<hr>
<div class="content">
  <row-channel *ngFor="let channel of (channels | async)" [name]="channel.name | async" (mousedown)="onChannelDrag($event, channel)"></row-channel>
</div>
