@import '../../../_theme.scss';

$channel-color: saturate($brand-primary, 20%);

* /deep/ {
  .channel {
    fill: $channel-color;
    filter: url('#dropshadow');

    .channel-circle {
      stroke: $black;
      stroke-width: 2;

      &.placeholder {
        fill: $white;
      }
    }

    text {
      fill: black;
    }
  }
}

h4 {
  color: $gray;
}

.add-channel {
  circle {
    fill: $white;
    stroke: $black;
    stroke-dasharray: 2,2;
  }
  text {
    text-anchor: middle;
    alignment-baseline: middle;
  }
  * {
    vertical-align: middle;
  }
}

.content {
  height: 82%;
  overflow-y: auto;
}

hr {
  margin-top: .5rem;
  margin-bottom: .5rem;
}
