@import '../../../_theme.scss';

$transformer-color: saturate($brand-primary, 20%);

h4 {
  color: $gray;
}

.add-channel {
  circle {
    fill: $white;
    stroke: $black;
    stroke-dasharray: 2,2;
  }
  text {
    text-anchor: middle;
    alignment-baseline: middle;
  }
  * {
    vertical-align: middle;
  }
}
