@import '../../../_theme.scss';

$transformer-color: saturate($brand-primary, 20%);

* /deep/ {
  .transformer {
    fill: $transformer-color;

    .transformer-bg {
      filter: url('#dropshadow');
    }

    .channel-circle {
      stroke: $black;
      stroke-width: 2;

      &.placeholder {
        fill: $white;
      }
    }

    text {
      fill: black;
    }
  }

  .grabbable {
    cursor: move;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
  }
}

.card-img-top {
  background-color: $gray-lighter;
  overflow: hidden;
  > * {
    margin-left: 50%;
    transform: translate(-50%);
  }
}

.popup-description {
  position: absolute;
  top: 100%;
  z-index: 999;
  width: 100%;
  background-color: white;
  pointer-events: none;
}
