.history-panel {
  width: 165px;
  height: 50px;
  position: absolute;
}

.history-buttons {
  padding-top: 2px;
  padding-left: 2px;
  background-color: white;
}

.history-buttons .btn {
  padding: 2px;
  width: 70px;
  font-size: 14px;
  color: #808080;

}
