@import '../../../_theme.scss';

$transformer-color: saturate($brand-primary, 20%);

.channel:hover rect {
  stroke-width: 1;
  stroke: grey;
}

circle {
  fill: $transformer-color;
}

rect {
  fill: rgba(0,0,0,0);
}

text {
  text-anchor: left;
  alignment-baseline: middle;
}
