@import '../../../_theme.scss';

$transformer-color: saturate($brand-primary, 20%);

* /deep/ {
  .transformer {
    fill: $transformer-color;
    filter: url('/#dropshadow');

    .channel-circle {
      stroke: $black;
      stroke-width: 2;

      &.placeholder {
        fill: $white;
      }
    }

    &.selected {
      .transformer-bg {
        stroke: $orange;
        stroke-width: 3;
      }

      .transformer-name {
        font-style: italic;
      }
    }

    text {
      fill: black;
    }
  }

  .row-channel {
    .channel-circle {
      stroke: $black;
      fill: $transformer-color;
    }

    text {
      fill: $black;
    }

    &.selected {
      .channel-circle {
        stroke: $orange;
        stroke-width: 3;
      }
      text {
        font-style: italic;
      }
    }
  }

  .channel-drop-target {
    fill: rgba($black, 0.3)
  }

  .drop-target {
    fill: rgba($black, 0.3)
  }
}
