@import '../_theme.scss';

.left-panel {
  width: 400px;
  border-right: 1px solid $gray-lighter;
}

.information-panel {
  border-top: 1px solid $gray-lighter;
  background-color: $white;
  z-index:999;
}

transformer-property-selector {
  background-color: $gray-lightest;
  border-left: 1px solid $gray-lighter;
}

transformer-selector {
  background-color: $gray-lightest;
  border-top: 1px solid $gray-lighter;
}

channel-selector {
  background-color: $gray-lightest;
}
