<div class="d-flex flex-column h-100">
  <drag-overlay></drag-overlay>
  <nav-bar></nav-bar>
  <div class="w-100 h-100 d-flex">
    <div class="left-panel h-100"> <!-- added a div to fix chrome bug where fixed width is sometimes ignored if d-flex is set on element -->
      <div class="d-flex flex-column p-0 h-100">
        <channel-selector class="h-50 p-2 scroll"></channel-selector>
        <transformer-selector class="h-100 p-2 scroll"></transformer-selector>
      </div>
    </div>
    <div class="col p-0 h-100">
      <div class="scroll" [style.height]="ladderDiagramHeightPercentString">
        <ladder-diagram class="w-100" ></ladder-diagram>
      </div>
      <div class="scroll information-panel p-2" mwlResizable
           [enableGhostResize]="true"
           ghostElementPositioning="absolute"
           [resizeEdges]="{top: true}"
           (resizeEnd)="onResizeEnd($event)"
           (resizeStart)="onResizeStart($event)"
           [validateResize]="onValidateResize"
           [style.height]="informationHeightPercentString">
        <information class="w-100 p-2 scroll"></information>
      </div>
    </div>
    <transformer-property-selector class="col-2 p-2 scroll"></transformer-property-selector>
  </div>
</div>
