<div class="d-flex flex-column h-100">
  <drag-overlay></drag-overlay>
  <nav-bar></nav-bar>
  <div class="w-100 h-100 d-flex">
    <div class="col-2 d-flex flex-column p-0 left-panel" >
      <channel-selector class="h-50 p-2 scroll" channel-selector></channel-selector>
      <transformer-selector class="h-100 p-2 scroll"></transformer-selector>
    </div>
    <ladder-diagram class="col p-0 h-100 scroll"></ladder-diagram>
    <transformer-property-selector class="col-2 p-2 scroll"></transformer-property-selector>
  </div>
</div>
