<div class="container-fluid">
  <drag-overlay></drag-overlay>
  <div class="row">
    <div class="col-12" style="background-color: #e3f2fd;">
      <nav-bar></nav-bar>
    </div>
  </div>
  <div class="row">
    <div class="col-2" >
      <div class="row">
        <div class="col-md-12" style="background-color: #e3f2fd;">
          Channel Selector
          <channel-selector></channel-selector>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12" style="background-color: lightpink; width: 200px; height: 500px; overflow-y: scroll;">
          Transformers
          <transformer-selector></transformer-selector>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>

    </div>
    <div class="col-md-8" style="background-color: lightcyan">
      Transformer Ladder
      <ladder-diagram></ladder-diagram>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>

    <div class="col-2" style="background-color: lightskyblue">
      Transformer Properties
      <transformer-property-selector></transformer-property-selector>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
