@import '../_theme.scss';

.left-panel {
  flex: 0 0 400px;
  border-right: 1px solid $gray-lighter;
}

.middle-panel {
  min-width: 0;
}

.right-panel {
  flex: 0 0 400px;
  background-color: $gray-lightest;
  border-left: 1px solid $gray-lighter;
}

.information-panel {
  border-top: 1px solid $gray-lighter;
  background-color: $white;
  z-index:999;
}

transformer-selector {
  background-color: $gray-lightest;
}

channel-selector {
  background-color: $gray-lightest;
}
