<div class="modal-header bg-primary">
  <h4 class="modal-title">Login</h4>
</div>
<form name="loginDialog" #loginDialog="ngForm">
  <div class="modal-body">
    <div class="form-group row"
        [class.has-danger]="_username.invalid && (_username.dirty || _username.touched)">
      <label for="username" class="col-2 col-form-label" focus>User Name</label>
      <div class="col-10">
        <input  type="text"
                id="username"
                name="username"
                [(ngModel)]="u"
                class="form-control"
                #_username="ngModel"
                required
               [class.form-control-danger]="_username.invalid && (_username.dirty || _username.touched)"
               placeholder="Enter a user name" (keydown.shift.Tab)="processShiftTab($event)">
      </div>
    </div>
    <div class="form-group row"
        [class.has-danger]="_password.invalid && (_password.dirty || _password.touched)">
      <label for="password" class="col-2 col-form-label">Password</label>
      <div class="col-10">
          <input [(ngModel)]="p"
                    name="password"
                    type="password"
                    id="password"
                    class="form-control"
                    required
                    #_password="ngModel"
                    [class.form-control-danger]="_password.invalid && (_password.dirty || _password.touched)"
                    placeholder="Enter a password" (keydown.tab)="processTab($event)">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="form-control-feedback text-danger" *ngIf="invalid_username_password">
        <p>Please enter a valid username and password</p>
    </div>
    <button name="login" class="btn btn-primary"
            type="submit"
            [disabled]="!loginDialog.valid"
            (click)="login()">Login
    </button>
  </div>
</form>
