@import '../../../_theme.scss';

$transformer-color: saturate($brand-primary, 20%);

* /deep/ {
  .transformer {
    fill: $transformer-color;
    filter: url('/#dropshadow');

    .channel-circle {
      stroke: $black;
      stroke-width: 2;

      &.placeholder {
        fill: $white;
      }
    }

    text {
      fill: black;
    }
  }

  .channel-disconnected {
    display: none;
  }
}
