@import '../../../_theme.scss';

h4 {
  color: $gray;
}

.content {
  overflow-y: auto;
  background-color: $white;
  border: 1px solid $gray-lighter;

  /deep/ {
    table {
      td, th {
        padding: 3px;
      }
      th {
        background-color: #CCCCFF;
      }
    }
  }
}
