/* You can add global styles to this file, and also import other style files */

html,body {
  height:100%;
  overflow: hidden;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

.scroll {
  overflow: auto;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;  /* Non-prefixed version, currently supported by Chrome and Opera */
}

.no-pointer {
  pointer-events: none;
}

.grabbable {
  cursor: move;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}
