<div class="content h-100">
  <div *ngFor="let transformerProperty of transformerProperties | async" class="w-100 container-fluid">

    <div class="property" >
      <div class="row" placement="left" ngbTooltip="{{transformerProperty.definition.description}}" container="body">
        <div *ngIf="transformerProperty.definition.optional" class="form-check"><label class="form-check-label"><input class="form-check-input" type="checkbox" [ngModel]="!transformerProperty.values.isEmpty()" (ngModelChange)="toggleOptional(transformerProperty.definition, $event)"/></label></div>
        <h6>{{transformerProperty.definition.name | humanReadable}}<ng-container *ngIf="transformerProperty.definition.postfix"> {{transformerProperty.definition.postfix}}</ng-container></h6>
      </div>

      <div *ngFor="let prop of transformerProperty.values" class="row pb-1">
        <div *ngIf="transformerProperty.definition.repeated" class="col-1 px-0 mr-2">
          <input class="form-control" type="button" value="-" (click)="removePropertyValue(prop)">
        </div>

        <div class="col px-0 pr-1" *ngIf="transformerProperty.definition.repeated"><input class="form-control" type="text" placeholder="Name" [ngModel]="prop.name | async" (ngModelChange)="prop.name.next($event)"/></div>
        <div class="col px-0" [ngSwitch]="transformerProperty.definition.type" *ngIf="!transformerProperty.definition.validValues">
          <input *ngSwitchCase="'string'" class="form-control" type="text" [ngModel]="prop.value | async" (ngModelChange)="prop.value.next($event)"/>
          <input *ngSwitchCase="'decimal'" class="form-control" type="number" [ngModel]="prop.value | async" (ngModelChange)="prop.value.next($event)"/>
          <input *ngSwitchCase="'integer'" class="form-control" type="number" [ngModel]="prop.value | async" (ngModelChange)="prop.value.next($event)"/>
          <input *ngSwitchCase="'float'" class="form-control" type="number" [ngModel]="prop.value | async" (ngModelChange)="prop.value.next($event)"/>
          <select *ngSwitchCase="'boolean'" class="form-control" [ngModel]="prop.value | async" (ngModelChange)="prop.value.next($event === 'true')">
            <option value="true">True</option>
            <option value="false">False</option>
          </select>
        </div>
        <div class="col px-0" *ngIf="transformerProperty.definition.validValues">
          <select class="form-control" [ngModel]="prop.value | async" (ngModelChange)="prop.value.next($event)">
            <option *ngFor="let validValue of transformerProperty.definition.validValues" [value]="validValue" >{{validValue}}</option>
          </select>
        </div>
      </div>

      <div class="row pb-1" *ngIf="transformerProperty.definition.optional && transformerProperty.values.isEmpty() && transformerProperty.definition.defaultValue != undefined">
        <div class="col px-0">
          <input class="form-control unselectable italics" type="text" value="Default: {{transformerProperty.definition.defaultValue}}" disabled (dblclick)="addPropertyValue(transformerProperty.definition)"/>
        </div>
      </div>

      <div class="row" *ngIf="transformerProperty.definition.repeated">
        <div class="col-1 px-0 mr-2">
          <input class="form-control" type="button" value="+" (click)="addPropertyValue(transformerProperty.definition)">
        </div>
      </div>
    </div>
  </div>
</div>
